
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @log.date %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @log.miles %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @log.duration %>
</p>

<p>
  <strong>Location:</strong>
  <%= @log.location %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @log.weather %>
</p>

<p>
  <strong>Description:</strong>
  <%= @log.description %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
