<h3>Update coupon ID = <%= @coupon.id %></h3>

<form action="/update" method="post">
  <input type="hidden" name="id" value="<%= @coupon.id %>">
  <input type="text" name="title" value="<%= @coupon.title %>">
  <input type="text" name="description" value="<%= @coupon.description %>">
  <input type="text" name="product" value="<%= @coupon.product %>">
  <input type="text" name="discount" value="<%= @coupon.discount %>">
  <input type="text" name="exp_date" value="<%= @coupon.exp_date %>">
  <input type="submit" value="Update Coupon">
</form>


<form action="/delete" method="post">
  <input type="hidden" name="id" value="<%= @coupon.id %>">
  <input type="submit" value="Delete Coupon">
</form>
