<h4>Coupon List</h4>
<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Product</th>
    <th>Discount</th>
    <th>Expiration Date</th>
  </thead>
  <tbody>
  <% @coupons.each do |coupon| %>
  <tr>
    <td>
      <%= coupon.title %>
    </td>
    <td>
      <%= coupon.description %>
    </td>
    <td>
      <%= coupon.product %>
    </td>
    <td>
      <%= coupon.discount_price * 100 %>%
    </td>
    <td>
      <%= coupon.exp_date %>
    </td>
    <td>
      <a href="/coupons/edit/<%= coupon.id %>">Edit</a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
