<h1>Da ####ashes</h1>

<h2>frameworks</h2>
<ul>
	<% @frameworks.each do |key, value| %> 
		<li> <%= key %> : <%= value %> </li>
		<% end %> 
</ul>

<h2>animu</h2>
<ul>
	<% @anime.each do |key, value| %> 
		<li> <%= key %> : <%= value %> </li>
		<% end %> 
</ul>

<h2>???</h2>
<ul>
	<% @idk.each do |key, value| %> 
		<li> <%= key %> : <%= value %> </li>
		<% end %> 
</ul>